---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Trang chủ - Thạc sĩ luật Thanh Bình',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Liên hệ',
        href: '#about',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Tìm hiểu thêm', href: '#features' },
    ]}
    <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} ******************* -->
  >
    <Fragment slot="title">
      
    </Fragment>

    <Fragment slot="subtitle">
      <div>
      <span class="hidden sm:inline text-xl font-semibold">
        Việc gì khó có Thạc sĩ Thanh Bình lo.

      </span>
      </div>
      <div class="mb-5 text-lg font-semibold">
      Phù hợp cho công ty vừa và nhỏ trên địa bàn cả nước.
      </div>

    </Fragment>
    <Fragment slot="subtitle">
      <span class="block mb-3 sm:hidden font-bold text-blue-600 ">AstroWind: Production-ready.</span>  
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Phương châm:" description="Đồng hành pháp lý, vững bước niềm tin." />

  <!-- Features Widget *************** -->


  <!-- Outputs <h1>Hello Astro!</h1> -->

  <Features
    id="features"
    tagline=""
    title="Dịch vụ"
    subtitle="Cung cấp tư vấn giải pháp toàn diện"
    items={[
      {
        title: 'Giấy tờ về hoạt động doanh nghiệp',
        description:
          'Các thủ tục như: Đăng kí kinh doanh doanh nghiệp, Đăng kí ngành sản xuất, Mở rộng lĩnh vực kinh doanh, ...',
        icon: 'tabler:list',
      },
      {
        title: 'Tư vấn pháp lí',
        description:
          'Các vấn đề liên quan đến doanh nghiệp: Hành chính, Lao động, Cạnh tranh, ...',
        icon: 'tabler:components',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title="Về chúng tôi"
    items={[

      {
        title: 'Đội ngũ luật sư trẻ – năng động – chuyên môn cao',
        description:
          'Sẵn sàng tiếp cận các vấn đề pháp lý mới, kết hợp kiến thức chuyên môn với sự nhanh nhạy trong nắm bắt thực tiễn.',
      },
      {
        title: 'Giải pháp pháp lý linh hoạt, phù hợp từng khách hàng',
        description:
          'Không chỉ đưa ra ý kiến pháp lý, mà còn định hướng chiến lược, tối ưu lợi ích và giảm thiểu rủi ro cho khách hàng.',
      },
            {
        title: 'Đồng hành bền vững',
        description:
          'Không chỉ giải quyết vụ việc cụ thể mà còn xây dựng quan hệ lâu dài, trở thành người bạn pháp lý đáng tin cậy.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
      Xây dựng trên nền tảng pháp lý vững chắc
      </h3>
      Cam kết cung cấp dịch vụ tư vấn đúng quy định pháp luật hiện hành, đảm bảo tính hợp pháp và an toàn pháp lý tối đa cho khách hàng.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Bảo mật tuyệt đối thông tin',
        description: `Mọi hồ sơ, dữ liệu, thông tin khách hàng được bảo mật theo chuẩn mực nghề nghiệp và pháp luật.`,
      },
      {
        title: 'Hỗ trợ nhanh chóng – kịp thời',
        description:
          'Đáp ứng nhu cầu tư vấn khẩn cấp, xử lý tình huống pháp lý phát sinh nhanh chóng, chính xác và hiệu quả.',
      },
      {
        title: 'Chiến lược pháp lý tối ưu',
        description:
          "Không chỉ đưa ra căn cứ pháp luật, mà còn định hướng giải pháp phù hợp, giảm thiểu rủi ro và bảo vệ lợi ích khách hàng tối đa..",
      },
      {
        title: 'Tư vấn đa lĩnh vực pháp lý',
        description:
          'Hỗ trợ khách hàng trong nhiều lĩnh vực: dân sự, kinh doanh – thương mại, lao động, hôn nhân gia đình, hình sự… phù hợp nhu cầu thực tiễn.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
    <span class="text-2xl font-bold tracking-tight dark:text-white sm:text-xl mb-2">Đảm bảo dịch vụ pháp lý chuyên nghiệp và tin cậy.</span>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

</Layout>
